<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="CA Ticketing" 
		   Manufacturer="ReadyDev Technologies" 
		   Version="1.12.0.0" 
	       UpgradeCode="dd16db44-6f13-4429-aaa4-546e603d4b87">
    <MajorUpgrade DowngradeErrorMessage="A later version of the application is already installed" />
	<Property Id="ARPPRODUCTICON" Value="CAIcon" />
	<WixVariable Id="WixUIDialogBmp" Value="Back_Large.bmp" />
	<WixVariable Id="WixUIBannerBmp" Value="Back_Top.bmp" />
	<MediaTemplate EmbedCab="yes" />
	<Icon Id="CAIcon" SourceFile="ca-map.ico"/>
    <Feature Id="WebApi">
      <ComponentGroupRef Id="WebApiIssConfiguration" />
      <ComponentGroupRef Id="WebApiComponent" />
    </Feature>
	<Feature Id="WebUi">
	  <ComponentGroupRef Id="WebUiIssConfiguration" />
      <ComponentGroupRef Id="WebUiComponent" />
	</Feature>
	<Feature Id="Desktop">
      <ComponentGroupRef Id="DesktopAppComponent" />
	</Feature>
	<Feature Id="DesktopShortcut">
	  <ComponentRef Id="DesktopShortcutComponent" />
	</Feature>
    <ui:WixUI
      Id="WixUI_CA" />
  </Package>
</Wix>
