<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
	<Fragment>
		<DirectoryRef Id="WEBUIFOLDER">
			<Component Id="WebUiAppPoolCmp" Guid="161BA1E4-7E5B-4455-8B00-7990E3B22A1F" KeyPath="yes">
				<iis:WebAppPool Id="WebUiPool"
								Name="CA.Ticketing.Web"
								Identity="localSystem" ManagedPipelineMode="Integrated"/>
			</Component>
			<Component Id="WebUiSiteCmp" Guid="80382F6D-BB13-4170-B7F3-C1934BCF042E" KeyPath="yes">
				<iis:WebSite Id="WebUiWebsite" Description="CA.Ticketing.Web" Directory="WEBUIFOLDER">
					<iis:WebAddress Id="AllUnassignedUi" Port="7058" />
					<iis:WebApplication Id="WebUiWebApplication" WebAppPool="WebUiPool"
					   Name="CA.Ticketing.Web" />
				</iis:WebSite>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="WebUiIssConfiguration">
			<ComponentRef Id="WebUiAppPoolCmp" />
			<ComponentRef Id="WebUiSiteCmp" />
		</ComponentGroup>
	</Fragment>
</Wix>
